/* custom fonts */

@font-face
{
    font-family: 'Klavika';
    src: url('fonts/Klavika Bold Italic.otf');
    src: url('fonts/Klavika Bold.otf'),
         url('fonts/Klavika Light.otf'),
         url('fonts/Klavika Medium Italic.otf'),
         url('fonts/Klavika Medium.otf'),
         url('fonts/Klavika Regular Italic.otf'),
         url('fonts/Klavika Regular.otf');
    font-weight: normal;
    font-style: normal;
}
/* custom font end */
body{
    padding: 0px 200px;
    background-color: lightgray;
}
.headerImage{
    width: 850px;
    height: 300px;
    background-color: lightblue;
}
.headerTextBox {
    font-family: Klavika;
    position: relative;
}
.headerText{
    font-family: Klavika;
    margin 
}
.mainContent{
    width: 850px;
    height: 900px;
    background-color: lightgray;
}

.mainNav{
    position: relative;
    left: 50px;
}

.listItems{
    background-color: aliceblue;
}

.listItems li{
    float: left;
    list-style-type: none;
    padding: 5px;
    border: solid black;
}

.profPic{
    width: 150px;
    height: 150px;
    background-color: steelblue;
    /* border: 3px solid black; */
    float: left;
    position: relative;
    left: 20px;
    top: -50px;
}

.row {
     clear: both;
}

.row:after{

}

.column{
    float: left;
    width: 43%;
    height: 800px;
    /* border: 5px solid black; */
    background-color: lightgray;
}

.column2{
    width: 53%;
    height: 800px;
    float: right;
    /* border: 5px solid red; */
    background-color: lightgray;
}

.Status {
    min-height: 75px;
    clear: both;
    position: relative;
}

.Statuspic {
    background-color: steelblue;
    width: 50px;
    height: 50px;
    float: left;
}

.Statusinfo {
}

.About{
    background-color: white;
    border: solid gray;
}

.aboutListItems {
    list-style: none;
}

.status-box {
    background-color: white;
    border: solid gray;
    min-height: 75px;
    position: relative;
    margin-bottom: 20px;
}

.inStatusPic {
    background-color: steelblue;
    /* color: blue; */
    width: 410px;
    height: 90px;
    position: relative;
    margin: 10px;
    padding: 5px;
}

.Apps {
    margin-top: 5px;
    min-height: 100px;
    background-color: white;
    border: solid gray;
}

.appBox{
    background-color: white;
    min-height: 75px;
    position: relative;
    margin-bottom: 20px;
}
.appList {

}

.appListItems {

}
.appPic {
    background-color: steelblue;
    width: 35px;
    height: 35px;
    float: left;
}

.h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.