body{
    padding: 0px 200px;
}
.headerImage{
    width: 850px;
    height: 300px;
    background-color: navy;
}
.mainContent{
    width: 850px;
    height: 900px;
    background-color: gray;
}

.mainNav{
    position: relative;
    left: 50px;
}

.listItems{

}

.listItems li{
    float: left;
    list-style-type: none;
    padding: 5px;
}

.profPic{
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 3px solid black;
    float: left;
    position: relative;
    left: 20px;
    top: -50px;
}

.row:after{

}

.column{
    float: left;
    width: 50%;
}

.column2{
    float: right;
    width 50%
}

.Status{
    width: 20%;
    height: 15%;
    background-color: white;
    float: right;
}

.About{
    width: 50px;
    height: 40px;
    float: right;
    right: -500px;
    background-color: white;
    border: solid black;
}